<!DOCTYPE html>
<html lang="en">
<head>
   <title>Calor'Istory</title>
   <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <header>
        <h1>Welcome to</h1>
        <h2>CALOR'ISTORY &#x2122</h2>
        <div class="p1">
        <p>If you want to lose weight, you need to do 2 things:<p>
        <p>1. burn more calories than you intake <p>
        <p>2. keep consistency on 1. </p>
        </div>
        
        <br>

        <div class="p2">
         With Calor'Istory &#x2122 you keep track of your success, keeping you motivated for the <a href="/warmup">
            <button class="button1" label="WARM UP" name="so_link">NEXT SESSION</button></a> !!
        </div>


        
    </header>
</body>
</html>