<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
    <div >
        <div>
            <div >
               
                <h4 class="text-shadow"> Live Streaming</h4>
              
                    <div class="form">
                        <img src="{{ url_for('video_online') }}", width="922">
                    </div>

                    <a href="https://supermario-game.com/pt" onclick="window.open('https://supermario-game.com/pt', 
                    'newwindow', 
                    'width=600,height=500'); 
         return false;"><button class="button9" label="WARM UP" name="so_link">SUPER MARIO Bros.</button></a>

                    <a href="/own_video"><button class="button10" label="WARM UP" name="so_link"></button></a>

                    <a href="/warmup"><button class="button8" label="WARM UP" name="so_link">WORKOUT DONE</button></a>
            </div>

        </div> 
        </body>


</html>